body {
  background: url(./BgIllustration.svg);
  background-repeat:no-repeat;
  background-size: auto;
  background-position: 50% 0;
}

.Navbar {
  /* Navbar */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 15px 30px;
  gap: 10px;

  position: absolute;
  height: 83px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.Login {
  /* Log In */
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;

  width: 137px;
  height: 53px;

  /* Green 1.5 */

  background: #42DC89;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.login-text {
  /* Log In */
  width: 77px;
  height: 33px;

  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* white */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.Body {
  /* Body */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 300px;
  gap: 70px;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 83px;

}

.title-text {
  /* AptGet.nyc */
  width: 480px;
  height: 106px;

  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 106px;
  /* identical to box height */

  text-align: center;

  /* Green 2 */

  color: #3AC67B;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.green {
  color: #3AC67B;
}

.black {
  color: #000000;
}

.BottomBox {
  /* Bottom Box */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.Subtitle {
  /* find cheap stuff in your building. */
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /* identical to box height */

  /* Green 5 */

  color: #227246;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.SearchBar {
  /* Search Bar */
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 30px;
  gap: 10px;

  width: 1000px;
  height: 64px;

  /* White */

  background: #FFFFFF;
  /* Green 2 */

  border: 4px solid #3AC67B;
  border-radius: 50px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.AddressInput {
  flex: none;
  order: 1;
  flex-grow: 1;

  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  border: none;
  text-align: left;

}
