.ItemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: relative;
    width: 312px;
    height: 441px;

    background: rgba(163, 216, 181, 0.82);
    border-radius: 8px;
}

.Head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 0px 16px;
    gap: 16px;

    width: 288px;
    height: 44px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Thumbnail {
    width: 300px;
    height: 222px;

    border-radius: 10px 10px 0px 0px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.Author {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 86px;
    height: 24px;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.Avatar {


    width: 24px;
    height: 24px;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.Username {
    width: 54px;
    height: 17px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;

    letter-spacing: 0.005em;

    color: #161616;

    opacity: 0.6;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.ContentBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    gap: 26px;

    width: 290px;
    height: 128px;

    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;

    flex: none;
    order: 2;
    align-self: center;
    flex-grow: 0;
}

.Details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 278px;
    height: 108px;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.BuildingName {
    width: 278px;
    height: 20px;

    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    letter-spacing: 0.005em;

    color: #848484;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.TitleDisc {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 278px;
    height: 68px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.ItemName {
    width: 278px;
    height: 28px;

    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;

    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Description {
    width: 278px;
    height: 20px;

    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    letter-spacing: 0.015em;

    color: #000000;

    opacity: 0.8;


    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
